{% extends 'base.html' %}
{% load static %}

{% block title_page %}Свадьба{% endblock %}
{% block page %}refuse{% endblock %}

{% block content %}
  <div class="container">
    <div class="form-content" data-aos="zoom-in">
      <div class="form-img">
        <img class="logo-light" src="{% static 'img/svg/logo-light.svg' %}"
             alt="load img">
        <img src="{% static 'img/jpg/otkaz.jpg' %}" alt="load img">
        <div class="title-page4">Будем рады вас <br> видеть!</div>
      </div>
    </div>
  </div>
{% endblock %}
