{% extends 'base.html' %}
{% load static %}

{% block title_page %}Свадьба{% endblock %}
{% block page %}program{% endblock %}

{% block content %}
  <div class="container">
    <div class="form-content">
      <div class="form-img">
        <img class="banner" src="{% static 'img/jpg/form.jpg' %}"
             alt="load img">
        <img class="logo-light" src="{% static 'img/svg/logo-light.svg' %}"
             alt="load img">
        <div class="form">
          <form action="" method="post">
              {% csrf_token %}
            <div>
              <label class="button-main">
                <input required type="text" name="guest" placeholder="ФИО">
              </label>
            </div>
            <div>
              <div class="button-main">
                <div class="button-sum">
                  <span>Взрослые</span>
                  <div class="sum">
                    <div class="minus">-</div>
                    <label>
                      <input class="input_number" name="adults" type="number" value="0">
                    </label>
                    <div class="plus">+</div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="button-main">
                <div class="button-sum">
                  <span>Дети</span>
                  <div class="sum">
                    <div class="minus">-</div>
                    <label>
                      <input class="input_number" name="children" type="number" value="0">
                    </label>
                    <div class="plus">+</div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <label class="button-main">
                <textarea placeholder="Комментарий" name="comment"></textarea>
              </label>
            </div>
            <button class="button-main">Зарегистрироваться</button>
          </form>
        </div>
        <div class="text" style="font-weight: normal">Мы не хотим обременять вас выбором подарка, поэтому
          лучший подарок молодой семье - в конверте :)
        </div>
      </div>
      <div class="text-bottom">Друзья, спешим сообщить, что для прибывающих в
        Киргизию
        гостей проживание в г. Бишкек с 7 на 8 июля будет за наш счет. Также мы
        дарим вам культмассовую программу пребывания на о. Иссы-Куль. Вам
        необходимом будет оплатить проживание и питание в отеле на озере.
          <p class="text-bottom">p.s. Мы можем помочь вам в поиске отеля на ваш вкус и цвет!
              (подробности своего пребывания и пожелания указывайте в Комментарии)
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var currentVal = 0;
    $('.minus').click(function () {
      var inputItem = $(this).siblings('label').children('input');
      currentVal = parseInt(inputItem.val());
      if (inputItem.val() <= 0) {
        currentVal = 0
      } else {
        currentVal -= 1
      }
      inputItem.val(currentVal)
    });
    $('.plus').click(function () {
      var inputItem = $(this).siblings('label').children('input');
      currentVal = parseInt(inputItem.val());
      if (inputItem.val() <= 3) {
        currentVal += 1;
      }
      inputItem.val(currentVal)
    })
  </script>
{% endblock %}
