{% extends 'base.html' %}
{% load static %}

{% block title_page %}Форма подтверждения{% endblock %}
{% block page %}form-page__two{% endblock %}

{% block content %}
  <div class="container">
    <div class="form-content">
      <div class="form-img">
        <img class="logo-light" src="{% static 'img/svg/logo-light.svg' %}"
             alt="load img">
        <img class="banner" src="{% static 'img/jpg/otkaz.jpg' %}" alt="load img">
        <div class="form">
          <form action="" method="post">
              {% csrf_token %}
            <div>
              <label class="button-main">
                <input required type="text" name="guest" placeholder="ФИО">
              </label>
            </div>
            <div>
              <label class="button-main">
                <textarea placeholder="Комментарий" name="comment"></textarea>
              </label>
            </div>
            <button class="button-main">Отправить</button>
          </form>
        </div>
      </div>
      <div class="text-bottom">Нам очень жаль, что вы не сможете разделить с
        нами головную
        боль после свадебного застолья!
      </div>
    </div>
  </div>
{% endblock %}
