{% extends 'base.html' %}
{% load static %}

{% block title_page %}Свадьба{% endblock %}
{% block page %}index{% endblock %}

{% block content %}
  <div class="container">
      <div class="index-content">
          <div class="index-img__block">
            <img class="index-img" src="{% static 'img/jpg/data.jpg' %}" alt="load img">
            <div class="absolute-block">
              <img class="logo-light" src="{% static 'img/svg/logo-light.svg' %}" alt="load img">
              <p class="title-page">ДОРОГИЕ ДРУЗЬЯ!!!! <br> Приглашаем ВАС на ТОРЖЕСТВО <br> по случаю нашей СВАДЬБЫ!</p>
            </div>
            <a href="{% url 'program_page' %}" class="button">
              <img src="{% static 'img/svg/button.svg' %}" alt="load img">
              <span>Посмотреть программу</span>
            </a>
          </div>
      </div>
  </div>
{% endblock %}
