{% extends 'base.html' %}
{% load static %}

{% block title_page %}Свадьба{% endblock %}
{% block page %}program{% endblock %}

{% block content %}
  <div class="container">
      <div class="program-content">
          <h1 class="title-page2">программа пребывания</h1>
          <div class="program-img">
            <img src="{% static 'img/jpg/program.jpg' %}" alt="load img">
            <div class="button-row">
              <a class="button-main" href="{% url 'form_page_two' %}">Отказаться</a>
              <a class="button-main" href="{% url 'form_page' %}">Зарегистрироваться он-лайн</a>
            </div>
          </div>
          <div class="text title-page3">кафе <span>ХИЖИНА ДЯДИ ТОМА</span>
            <br> г. Бишкек, с. Манас , Васильевский тракт</div>
          <div class="event-schedule title-page3">
            <div class="row">
              <span>15:30</span>
              <span>СБОР ГОСТЕЙ</span>
            </div>
            <div class="row">
              <span>16:00</span>
              <span>ЦЕРЕМОНИЯ</span>
            </div>
            <div class="row">
              <span>17:00</span>
              <span>БАНКЕТ</span>
            </div>
            <div class="event-schedule__img">
              <img src="{% static 'img/jpg/logo.jpg' %}" alt="load img">
            </div>
          </div>
          <div class="travel-schedule title-page3">
            <div class="row">
              <span>08 июля</span>
              <span>Трансфер на Иссык-Куль</span>
            </div>
            <div class="row">
              <span>09 июля</span>
              <span>Купание в горячих источниках</span>
            </div>
            <div class="row">
              <span>10 июля</span>
              <span>Активный отдых в яхт клубе</span>
            </div>
            <div class="row">
              <span>11 июля</span>
              <span>Культмассовый выезд в ущелье</span>
            </div>
            <div class="row">
              <span>12 июля</span>
              <span>Банкет на теплоходе</span>
            </div>
          </div>
      </div>
  </div>
{% endblock %}
