@font-face {
    font-family: 'Book Antiqua';
    src: url('BookAntiqua.woff2') format('woff2'),
        url('BookAntiqua.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Book Antiqua';
    src: url('BookAntiqua-Italic.woff2') format('woff2'),
        url('BookAntiqua-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Book Antiqua';
    src: url('BookAntiqua-BoldItalic.woff2') format('woff2'),
        url('BookAntiqua-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

