* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button, form, input, select, textarea {
    font-family: 'Calibri', sans-serif
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%
}

a {
    display: block;
    text-decoration: none;
    font-family: "Calibri", sans-serif
}

body {
     font-family: 'Mistral', sans-serif;
    font-weight: bold
}

main {
    min-height: 50vh
}

img {
    display: block;
    width: 100%;
}

.button-main {
    position: relative;
    color: #ffffff;
    font-size: 32px;
    width: 100%;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    box-shadow: 0 0 0 1px rgba(192, 192, 192, 0.5)
}

@media (max-width: 960px) {
    .button-main {
        font-size: 21px
    }
}

@media (max-width: 425px) {
    .button-main {
        font-size: 18px;
    }
}

.button-main:after {
    content: "";
    border: 1px solid #6F6F6F;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0
}

.button-main:before {
    content: "";
    border: 1px solid rgba(192, 192, 192, 0.5);
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    left: 1px
}

.title-page4 {
    padding: 0 16px
}

@media (max-width: 640px) {
    .title-page4 {
        font-size: calc(32px + 81.6 * ((100vw - 320px) / 1440))
    }
}

@media (min-width: 640px) {
    .title-page4 {
        font-size: calc(32px + 48 * (100vw / 1440))
    }
}

.title-page {
    padding: 0 16px
}

@media (max-width: 640px) {
    .title-page {
        font-size: calc(24px + 47.6 * ((100vw - 320px) / 1440))
    }
}

@media (min-width: 640px) {
    .title-page {
        font-size: calc(24px + 28 * (100vw / 1440))
    }
}

.title-page2 {
    padding: 0 16px
}

@media (max-width: 640px) {
    .title-page2 {
        font-size: calc(28px + 79.9 * ((100vw - 320px) / 1440))
    }
}

@media (min-width: 640px) {
    .title-page2 {
        font-size: calc(28px + 47 * (100vw / 1440))
    }
}

.title-page3 {
    padding: 0 16px
}

@media (max-width: 640px) {
    .title-page3 {
        font-size: calc(15px + 42.5 * ((100vw - 320px) / 1440))
    }
}

@media (min-width: 640px) {
    .title-page3 {
        font-size: calc(15px + 25 * (100vw / 1440))
    }
}

.mt-10 {
    margin-top: 10px
}

@media (max-width: 640px) {
    .mt-10.\@mt-5 {
        margin-top: 5px
    }
}

.mt-mb-10 {
    margin: 10px 0 10px 0
}

.btn {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    color: #000
}

.btn.btn-default {
    background-color: #000;
    color: #fff
}

.btn.btn-default:hover {
    background-color: #fff;
    color: #000
}

.btn.btn-danger {
    background-color: red;
    border-color: red;
    color: #fff
}

.btn.btn-danger:hover {
    background-color: #fff;
    color: red
}

.btn.btn-success {
    background-color: green;
    border-color: green;
    color: #fff
}

.btn.btn-success:hover {
    background-color: #fff;
    color: green
}

.btn.btn-outline {
    background-color: transparent;
    color: #000
}

.btn.btn-outline:hover {
    background-color: transparent;
    color: #000
}

.btn.btn-link {
    background-color: transparent;
    border-color: transparent;
    color: #000
}

.btn.btn-link:hover {
    background-color: transparent;
    color: #000
}

.form-control {
    margin-bottom: 20px
}

.form-control.form-control-error input[type=number], .form-control.form-control-error input[type=password], .form-control.form-control-error input[type=text] {
    border-color: red
}

.form-control.form-control-error input[type=number]:focus, .form-control.form-control-error input[type=password]:focus, .form-control.form-control-error input[type=text]:focus {
    border-color: red
}

.form-control span.form-control-error {
    font-size: 12px;
    padding: 10px;
    color: red;
    display: block
}

.form-control label:not([for]) {
    display: block;
    padding: 0 0 10px 0;
    font-size: 14px
}

.form-control label[for] {
    display: flex;
    padding: 0 0 10px 0;
    font-size: 14px;
    cursor: pointer;
    align-items: center
}

.form-control label[disabled] {
    pointer-events: none;
    opacity: 0.5;
    -webkit-user-select: none;
    user-select: none
}

.form-control .form-control-value {
    margin-left: 5px
}

.form-control input[type=number], .form-control input[type=password], .form-control input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #000
}

.form-control input[type=number]:focus, .form-control input[type=password]:focus, .form-control input[type=text]:focus {
    border-color: #868686
}

.form-control input[type=number]::-webkit-input-placeholder, .form-control input[type=password]::-webkit-input-placeholder, .form-control input[type=text]::-webkit-input-placeholder {
    color: #939393
}

.form-control input[type=number]::-moz-placeholder, .form-control input[type=password]::-moz-placeholder, .form-control input[type=text]::-moz-placeholder {
    color: #939393
}

.form-control input[type=number]:-ms-input-placeholder, .form-control input[type=password]:-ms-input-placeholder, .form-control input[type=text]:-ms-input-placeholder {
    color: #939393
}

.form-control input[type=number]:-moz-placeholder, .form-control input[type=password]:-moz-placeholder, .form-control input[type=text]:-moz-placeholder {
    color: #939393
}

.form-control input[type=checkbox] {
    display: none
}

.form-control input[type=checkbox] + .custom-checkbox {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid #eee
}

.form-control input[type=checkbox]:checked + .custom-checkbox {
    background-color: blue;
    border-color: blue
}

.form-control input[type=radio] {
    display: none
}

.form-control input[type=radio][disabled] + .custom-radio {
    pointer-events: none
}

.form-control input[type=radio] + .custom-radio {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid #eee;
    border-radius: 50%
}

.form-control input[type=radio]:checked + .custom-radio {
    background-color: red;
    border-color: red
}

.form-control select {
    width: 100%;
    height: 40px;
    padding: 0 16px 0 10px;
    background-image: url(../img/icon/chevron-down.svg);
    background-position: right 10px center;
    background-size: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''
}

.form-control select:focus {
    border-color: #868686
}

.form-control textarea {
    width: 100%;
    padding: 16px;
    max-width: 100%;
    border: 1px solid #000
}

.form-control textarea:focus {
    border-color: #868686
}

.form-control textarea::-webkit-input-placeholder {
    color: #939393
}

.form-control textarea::-moz-placeholder {
    color: #939393
}

.form-control textarea:-ms-input-placeholder {
    color: #939393
}

.form-control textarea:-moz-placeholder {
    color: #939393
}

.form-control .form-btn {
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 6px 12px;
    display: inline-flex;
    line-height: 1
}

.form-control .form-btn[disabled] {
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed
}

.index-content .index-img__block {
    position: relative
}


.index-content .index-img__block .absolute-block {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0
}

.index-content .index-img__block .absolute-block img {
    margin: 0 auto;
    max-width: 375px
}

@media (max-width: 640px) {
    .index-content .index-img__block .absolute-block img {
        max-width: 250px
    }
}

@media (max-width: 540px) {
    .index-content .index-img__block .absolute-block img {
        max-width: 180px
    }
}

@media (max-width: 425px) {
    .index-content .index-img__block .absolute-block img {
        max-width: 140px
    }
}

.index-content .index-img__block .absolute-block p {
    font-style: italic;
    text-align: center;
    color: #968A78
}

.index-content .index-img__block .button {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 470px
}

@media (max-width: 640px) {
    .index-content .index-img__block .button {
        max-width: 320px
    }
}

@media (max-width: 425px) {
    .index-content .index-img__block .button {
        max-width: 280px
    }
}

.index-content .index-img__block .button span {
    font-family: "Calibri", sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0
}

@media (max-width: 640px) {
    .index-content .index-img__block .button span {
        font-size: 22px;
        top: 7px
    }
}

@media (max-width: 425px) {
    .index-content .index-img__block .button span {
        top: 6px
    }
}

.program-content h1 {
    font-style: italic;
    text-align: center;
    color: #968A78;
    text-transform: uppercase;
    margin: 30px 0 0 0
}

.program-content .program-img {
    position: relative
}

.program-content .program-img .button-row {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px
}

@media (max-width: 640px) {
    .program-content .program-img .button-row {
        flex-direction: column
    }
}

.program-content .program-img .button-row .button-main {
    width: calc(50% - 10px)
}

@media (max-width: 640px) {
    .program-content .program-img .button-row .button-main {
        width: 75%
    }
}

@media (max-width: 425px) {
    .program-content .program-img .button-row .button-main {
        width: calc(100% - 16px)
    }
}

.program-content .program-img .button-row .button-main:first-child {
    margin: 0 10px 0 0
}

@media (max-width: 640px) {
    .program-content .program-img .button-row .button-main:first-child {
        margin: 0 0 10px
    }
}

.program-content .program-img .button-row .button-main:last-child {
    margin: 0 0 0 10px
}

@media (max-width: 640px) {
    .program-content .program-img .button-row .button-main:last-child {
        margin: 0
    }
}

.program-content .text {
    font-family: 'Book Antiqua', sans-serif;
    font-style: italic;
    color: #968A78;
    text-align: center;
    margin: 20px 0
}

.program-content .text span {
    font-family: "Mistral", sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

.program-content .event-schedule {
    max-height: 9001em;
    max-width: 400px;
    margin: 0 auto
}

@media (max-width: 640px) {
    .program-content .event-schedule {
        max-width: 300px
    }
}

@media (max-width: 425px) {
    .program-content .event-schedule {
        max-width: 250px
    }
}

.program-content .event-schedule .row {
    display: flex;
    align-items: center;
}

.program-content .event-schedule .row span {
    color: #968A78;
    font-style: italic;
    text-align: center;
}

.program-content .event-schedule .row span:first-child {
    width: 100px;
    margin: 0 30px 0 0
}

@media (max-width: 640px) {
    .program-content .event-schedule .row span:first-child {
        margin: 0
    }
}

.program-content .event-schedule .event-schedule__img {
    max-width: 400px;
    margin: 0 0 20px;
    padding-top: 15px;
}

@media (max-width: 960px) {
    .program-content .event-schedule .event-schedule__img {
        max-width: 250px;
        margin: 0 auto 20px
    }
}

.program-content .travel-schedule {
    text-align: center;
    margin: 0 0 40px;
}

.program-content .travel-schedule span {
    color: #968A78;
    font-family: 'Book Antiqua', sans-serif;
    font-style: italic
}

.program-content .travel-schedule span:first-child {
    margin: 0 60px 0 0
}

@media (max-width: 640px) {
    .program-content .travel-schedule span:first-child {
        margin: 0 30px 0 0;
    }
}

@media (max-width: 425px) {
    .program-content .travel-schedule span:first-child {
        margin: 0 15px 0 0;
    }
}

.form-content {
    margin: 0 0 40px
}

.form-content .form-img {
    position: relative;
    min-height: 730px;
    overflow: hidden
}

@media (max-width: 425px) {
    .form-content .form-img {
        max-height: 600px
    }
}

.form-content .form-img .banner {
    object-fit: cover;
    height: 100%
}

.form-content .form-img .logo-light {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 215px
}

@media (max-width: 425px) {
    .form-content .form-img .logo-light {
        display: none
    }
}

.form-content .form-img .text {
    font-family: "Book Antiqua", sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 16px
}

@media (max-width: 640px) {
    .form-content .form-img .text {
        font-size: 18px
    }
}

.form-content .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    max-width: 362px;
    width: 100%
}

.form-content .form form {
    margin: 0 16px
}

.form-content .form form > div {
    margin: 0 0 24px
}

.form-content .form form > div:first-child label input {
    text-align: right
}

.form-content .form form .button-main {
    display: block;
    font-size: inherit;
    padding: 7px 10px;
    font-weight: bold;
}

.form-content .form form .button-main .button-sum {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.form-content .form form .button-main .button-sum span {
    font-size: 20px;
    font-family: "Book Antiqua", sans-serif
}

.form-content .form form .button-main .button-sum .sum {
    display: flex;
    align-items: center
}

.form-content .form form .button-main .button-sum .sum .minus, .form-content .form form .button-main .button-sum .sum .plus {
    font-size: 20px;
    cursor: pointer;
    line-height: 100%;
    padding: 0 5px;
    font-weight: bold;

}

.form-content .form form .button-main .button-sum .sum .minus {
    font-size: 30px;
    margin: 0 0 4px;
    line-height: 80%
}

.form-content .form form .button-main .button-sum .sum label {
    max-width: 25px;
    font-weight: bold;
}

.form-content .form form .button-main .button-sum .sum label input {
    text-align: center;
    font-size: 20px;
    -moz-appearance: textfield;
    font-weight: bold;

}

.form-content .form form .button-main .button-sum .sum label input::-webkit-inner-spin-button, .form-content .form form .button-main .button-sum .sum label input::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.form-content .form form .button-main input, .form-content .form form .button-main textarea {
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    border: none;
    font-family: "Book Antiqua", sans-serif;
    font-weight: bold;

}

.form-content .form form .button-main input::placeholder, .form-content .form form .button-main textarea::placeholder {
    color: #ffffff;
    font-weight: bold;
}

.form-content .form form .button-main textarea {
    height: 100px;
    text-align: right
}

.form-content .form button {
    font-family: "Book Antiqua", sans-serif;
    background: transparent;
    font-size: 21px !important
}

.form-content .text-bottom {
    color: #968A78;
    font-family: 'Book Antiqua', sans-serif;
    font-style: italic;
    font-size: 29px;
    text-align: center;
    padding: 0 16px
}

@media (max-width: 640px) {
    .form-content .text-bottom {
        font-size: 18px
    }
}

.form-page__two .form-content .form {
    top: auto;
    transform: translate(-50%, 0);
    bottom: 20px
}

.form-page__two .form-content .form form > div {
    margin: 0 0 6px
}

@media (max-width: 640px) {
    .form-page__two .form-content .form-img {
        min-height: auto
    }
}

.form-page__two .form-content .form-img .logo-light {
    right: 0;
    left: auto;
    max-width: 235px
}

.form-page__two .form-content .form-img .banner {
    height: auto
}

.refuse .title-page4 {
    font-family: "Book Antiqua", sans-serif;
    font-style: italic;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    font-weight: normal
}

@media (max-width: 640px) {
    .refuse .form-content .form-img {
        min-height: auto
    }
}

.refuse .form-content .form-img .banner {
    height: auto
}

.refuse .form-content .form-img .logo-light {
    left: auto;
    right: 0;
    max-width: 295px
}

@media (max-width: 425px) {
    .program .form-content .form-img .banner {
        height: 540px;
        object-position: 30% 100%;
    }

    .program .form-content .form-img {
        max-height: 550px;
        min-height: auto;
    }

    .program .travel-schedule.title-page3 {
        font-size: 19px;
        line-height: 22px;
    }

    .program .program-content .program-img {
        height: 370px;
    }

    .program .program-content .program-img img {
        height: 100%;
        object-fit: cover;

    }
}

@media (max-width: 375px) {
    .program .travel-schedule.title-page3 {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (max-width: 375px) {
    .program .travel-schedule.title-page3 {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width: 320px) {
    .program .travel-schedule.title-page3 {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width: 305px) {
    .program .travel-schedule.title-page3 {
        font-size: 10px;
        line-height: 22px;
    }
}

@media (max-width: 400px) {
    .program .travel-schedule.title-page3 {
        font-size: 16px;
        line-height: 22px;
    }
}

/*# sourceMappingURL=style.css.map */